.menu li a {
    color: white;
}

.card img {
    object-fit: contain;
    height: 80px;
    width: 80px;
}

.autoComplEstilos {
    background: rgb(243, 236, 236);
    width: max-content;
    z-index: 3000;
}

.autoComplEstilos li:hover { 
    cursor: pointer;
    background: darkgray;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
    background: darkgray;
}

#tbPeritaciones {
    font-size: 12px;
}

#tbPeritaciones th input {
    font-size: 12px;
    margin: 0px;
    padding: 5px;
    height: 25px;
}

.ui-helper-hidden-accessible{display:none}

.tdLeft {
    text-align: left !important;
}

.tdRight {
    text-align: right !important;
}

.tdCenter {
    text-align: center !important;
}

.dataTables_filter input[type='search'] {
    margin-bottom: 10px !important;
}

.btnAction {
    padding: 3px;
    margin: 0px;
    border-radius: 5px;
}

#addPeritacionForm fieldset {
    background: #cfe7d857;
}

/* #addPeritacionForm input {
    height: 25px;
}

#addPeritacionForm label {
    height: 25px;
} */

#filtrosAvanzadosForm fieldset {
    background: #cfcfe721;
}

